<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- icone fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- icone bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>

    <main class="d-flex align-items-center">

        <div id="app" class="container p-0 shadow-lg rounded-4">

            <div class="row g-0">

                <!-- Aside -->
                <div class="col-4 border-end border-2 secondary-subtle">

                    <!-- header aside + icone -->
                    <header class="p-2 d-flex justify-content-between align-items-center">
                        <!-- avatar -->
                        <span>
                            <img src="./img/avatar_io.jpg" class="rounded-circle me-2" alt="Francesca">
                            Francesca
                        </span>
                        <!-- icone -->
                        <span>
                            <i class="fa-solid fa-circle-notch m-2 fs-5"></i>
                            <i class="fa-solid fa-message m-2 fs-5"></i>
                            <i class="fa-solid fa-ellipsis-vertical m-2 fs-5"></i>
                        </span>
                    </header>

                    <!-- Barra celeste -->
                    <section class="container-notifica d-flex align-items-center p-3">
                        <!-- icona -->
                        <div class="d-block me-3 fa-stack fa-lg">
                            <i class="bi bi-circle-fill fa-stack-2x text-white"></i>
                            <i class="celeste fa-solid fa-bell-slash fa-stack-1x"></i>
                        </div>

                        <!-- testo -->
                        <div>
                            Ricevi notifiche dei nuovi messaggi
                            <a href="#" class="text-secondary d-inline-block">
                                Attiva notifiche desktop
                            </a>
                        </div>
                    </section>

                    <!-- search bar  -->
                    <section class="p-2 bg-light search-container">

                        <div class="input-group flex-nowrap">
                            <span class="input-group-text bg-white">
                                <i class=" fa-solid fa-magnifying-glass ms-3 me-3"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Cerca nelle chat">
                        </div>

                    </section>

                    <!-- Barra contatti -->
                    <section class="contact-container bg-white">

                        <!---->
                        
                        <section v-for="(contact, index) in contacts" @click="activeContactI = index"
						v-bind:class=" index==activeContactI ? 'active' : '' " class="p-3 d-flex justify-content-between border-bottom contact">

                            <!-- icona -->
                            <div class="d-flex align-items-center">

                                <span class="text-center d-inline-block me-3">
                                    <img v-bind:src="contact.avatar" class="rounded-circle" v-bind:alt="contact.name">
                                </span>

                                <!-- Nome e messaggio -->
                                <span class="d-inline-block">

                                    {{contact.name}}

                                    <div class="text-body-tertiary msg">
                                        Messaggio
                                    </div>

                                </span>

                            </div>

                            <!-- orario del messaggio -->
                            <div class="text-body-tertiary msg">
                                15.00
                            </div>

                        </section>

                    </section>

                </div>

                <!-- colonna di destra -->
                <div class="col">

                    <!-- header chat con propic e icone -->
                    <header class="p-2 d-flex justify-content-between align-items-center">

                        <!-- propic -->
                        <span class="d-flex align-items-center">

                            <!-- foto -->
                            <span class="text-center d-inline-block me-3">
                                <img :src="contacts[activeContactI].avatar" class="rounded-circle"
                                    :alt="contacts[activeContactI].name">
                            </span>

                            <!-- testo -->
                            <span class="d-inline-block">
                                <!-- Nome utente sopra chat -->
                                {{ contacts[activeContactI].name }}
                                <div class="text-body-tertiary last-msg">
                                    Ultimo accesso non disponibile
                                </div>
                            </span>
                        </span>

                        <!-- icone -->
                        <span class="me-2">
                            <i class="fa-solid fa-magnifying-glass m-2 fs-5"></i>
                            <i class="fa-solid fa-paperclip m-2 fs-5"></i>
                            <i class="fa-solid fa-ellipsis-vertical m-2 fs-5"></i>
                        </span>
                    </header>

                    <!-- chat -->
                    <main class="chat-container">

                        <!-- container mex -->
                        <div class="d-block" :class="{'d-flex justify-content-end': msg.status == 'sent'}"
                            v-for="(msg, index) in contacts[activeContactI].messages">

                            <!-- balloon messaggio -->
                            <div class="talk-bubble shadow-sm round" :class="{
                                'received tri-right border tri-right left-top': msg.status == 'sent',
                                'sent tri-right border tri-right right-top': msg.status == 'received' }">

                                <!-- testo messaggio -->
                                <div class="talktext">

                                    <div class="d-flex justify-content-between">
                                        <p> <p> {{msg.message}} </p> </p>
                                        <span class="msgDelete">
                                            <i class="fa-solid fa-chevron-down ms-2 text-body-tertiary h"
                                                data-bs-toggle="dropdown" aria-expanded="false"></i>
                                            <ul class="dropdown-menu">
                                                <p @click="deleteMsg(index)" class="p-2 hover">Cancella Messaggio
                                                </p>
                                            </ul>
                                        </span>
                                    </div>

                                    <p class="h">
										{{msg.date}}
                                        <i class="fa-solid fa-check"></i>
                                    </p>
                                </div>

                            </div>
                        </div>

                    </main>

                    <!-- input -->
                    <section class="p-2 d-flex align-items-center chat-input">
                        <i class="fa-regular fa-face-grin-stars m-3 me-4 fs-4"></i>
						<input v-model="inputMsg" @keyup.enter="send()" type="text" class="form-control">
                        <i v-if="inputMsg == 0" class="fa-solid fa-microphone m-3 ms-4 fs-4"></i>
                        <i v-else="inputMsg > 0" @click="send()" class="invio fa-solid fa-paper-plane m-3 ms-4 fs-4"></i>
                    </section>

                </div>

            </div>

        </div>

    </main>


    <!-- js b -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- js -->
    <script src="./js/script.js"></script>
</body>

</html>

XXXXXXX